### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
game_df = pd.read_csv(file_to_load)

game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [37]:
#Display total number of players by unique screen name
player_count = game_df['SN'].nunique()

player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Getting numbers into variables
unique_items = game_df['Item ID'].nunique()
average_price = game_df['Price'].mean()
total_purchases = game_df['Purchase ID'].nunique()
total_revenue = game_df['Price'].sum()

#Building DataFrame
purchasing_df = pd.DataFrame([[unique_items, average_price, total_purchases, total_revenue]],
                             columns=['Unique Items','Average Price','Total Purchases', 'Total Revenue'])


#Formatting Revenue and price
purchasing_df = purchasing_df.style.format({'Average Price' : "${:,.2f}", 'Total Revenue' : "${:,.2f}"})

purchasing_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#Getting gender counts
player_gender = game_df.groupby("Gender")["SN"].nunique()
player_gender

player_gender_df = pd.DataFrame({"Total Count": player_gender})

gender_percent = player_gender_df["Total Count"] / player_gender_df["Total Count"].sum() * 100

player_gender_df["Percentage of Players"] = gender_percent

#Formatting percent
player_gender_df = player_gender_df.style.format({"Percentage of Players" : "{:.2f}%"})
player_gender_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
#Getting purchase information into variables to later add to dataframe

gender_purchases = game_df.groupby(["Gender"]).count()["Purchase ID"]
gender_purchases_avg = game_df.groupby(["Gender"]).mean()["Price"]
gender_purchases_sum = game_df.groupby(["Gender"]).sum()["Price"]
gender_purchases_avg_person = gender_purchases_sum / player_gender

#Checking outputs to verify numbers
#gender_purchases
#gender_purchases_avg
#gender_purchases_sum
#gender_purchases_avg_person

#Creating Dataframe of calc
gender_purchases_df = pd.DataFrame({"Purchase Count" : gender_purchases,
                                   "Average Purchase Price" : gender_purchases_avg,
                                   "Total Purchase Value" : gender_purchases_sum,
                                   "Average Total Purchase Per Person" : gender_purchases_avg_person})
     
#Formatting    
gender_purchases_df = gender_purchases_df.style.format({'Average Purchase Price' : "${:,.2f}", 
                                                        'Total Purchase Value' : "${:,.2f}", 
                                                        'Average Total Purchase Per Person' : "${:,.2f}"})
gender_purchases_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [42]:
#Finding min/max
game_df["Age"].max()
game_df["Age"].min()

#Creating Bins
age_bins = [0,9,14,19,24,29,34,39,999]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Creating Series
game_df["Age Group"] = pd.cut(game_df["Age"], age_bins, labels=age_labels)

#Creating Datframe group
age_group_df = game_df.groupby("Age Group")

age_total = age_group_df["SN"].nunique()
age_percent = age_total / player_count * 100

#Creating Dataframe summary
age_summary_df = pd.DataFrame({"Total Count" : age_total,
                              "Percentage of Players" : age_percent})


#Formatting
age_summary_df = age_summary_df.style.format({"Percentage of Players": "{:.2f}%"})

age_summary_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
#Getting variables

age_purchases_count = age_group_df["Purchase ID"].nunique()
age_purchases_avg = age_group_df["Price"].mean()
age_purchases_total = age_group_df["Price"].sum()
age_purchases_avg_person = age_purchases_total / age_total

#Checking output to verify numbers
#age_purchases_count
#age_purchases_avg
#age_purchases_total
#age_purchases_avg_person

#Creating Dataframe
age_purchases_summary_df = pd.DataFrame({"Purchase Count" : age_purchases_count,
                                        "Average Purchase Price" : age_purchases_avg,
                                        "Total Purchase Value" : age_purchases_total,
                                        "Average Total Purchase Per Person" : age_purchases_avg_person})


#Formatting
age_purchases_summary_df = age_purchases_summary_df.style.format({'Average Purchase Price' : "${:,.2f}", 
                                                        'Total Purchase Value' : "${:,.2f}", 
                                                        'Average Total Purchase Per Person' : "${:,.2f}"})
age_purchases_summary_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [80]:
spend_df = game_df.groupby("SN")

top_spend_count = spend_df["Purchase ID"].count()
top_spend_avg = spend_df["Price"].mean()
top_spend_value = spend_df["Price"].sum()

#Creating dataframe
top_spend_df = pd.DataFrame({"Purchase Count" : top_spend_count,
                            "Average Purchase Price" : top_spend_avg,
                            "Total Purchase Value" : top_spend_value})


#Sort Dataframe descending by total purchase
top_spend_df = top_spend_df.sort_values(by=["Total Purchase Value"], ascending=False)

#Formatting
top_spend_df = top_spend_df.head().style.format({'Average Purchase Price' : "${:,.2f}", 
                                        'Total Purchase Value' : "${:,.2f}"})

top_spend_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [113]:
items_df = game_df[['Item ID', 'Item Name', 'Price']]

items_group_df = items_df.groupby(['Item ID', 'Item Name'])

#Variable collection
items_pop_count = items_group_df["Item ID"].count()
items_pop_total = items_group_df["Price"].sum()
items_pop_avg = items_pop_total / items_pop_count

#Checking output
#items_pop_count
#items_pop_total
#items_pop_avg

#Creating dataframe
items_pop_df = pd.DataFrame ({"Purchase Count" : items_pop_count,
                              "Item Price" : items_pop_avg,
                              "Total Purchase Value" : items_pop_total})

#Formatting
items_pop_df.sort_values(['Purchase Count'], ascending=False).head().style.format({
                                                                                                    'Item Price' : "${:,.2f}", 
                                                                                                    'Total Purchase Value' : "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [112]:
#Learned here that once you apply a style, it's no longer a dataframe

AttributeError: 'Styler' object has no attribute 'sort_values'

In [114]:
#Learned here that I could not list dataframe again after styling, had to delete last df output from above
items_pop_df.sort_values(['Total Purchase Value'], ascending=False).head().style.format({
                                                                                                    'Item Price' : "${:,.2f}", 
                                                                                                    'Total Purchase Value' : "${:,.2f}"})